
@import "tailwindcss";

.file-input {
  display: none;
}

.caption-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.caption-container label {
  margin-bottom: 8px;
  font-weight: 600;
}

.caption-input {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.caption-input:focus {
  border-color: #1cc972;
}