*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

}

.black{
    background-color: black;
    
}

.white{
    background-color: white;
}